.Header {
  position: sticky;
  top: 0;
  padding: 15px 0;
  background: #490049;
  .content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
      .logo {
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          color: green;
          svg {
            width: 60px;
            height: 60px;
          }
        }
      }
    }
    .right {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 35px;
      .nav {
        ul {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 30px;
          li {
            a {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 8px;
            }
          }
        }
      }
      .mobile_content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
      }
      .resume {
        .resumeBtn {
          padding: 8px 10px;
          border: 1px solid rgb(68, 68, 251);
          border-radius: 5px;
          color: rgba(31, 31, 255, 0.769);
        }
        .resumeBtn:hover {
          color: rgba(31, 31, 255, 0.524);
          -webkit-box-shadow: 1px 0px 37px 3px rgba(39, 141, 219, 0.36);
          -moz-box-shadow: 1px 0px 37px 3px rgba(39, 141, 219, 0.36);
          box-shadow: 1px 0px 37px 3px rgba(39, 141, 219, 0.36);
        }
      }
    }
  }
}
