.Footer {
  display: flex;
  align-items: center;
  justify-content: center;
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px;
  }
}
